@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,6,17,1) 100%);
    min-height: 97vh;
}

.container {
    border-radius: 20px;
    background-color: #000f25;
    color: #fff;
}

. track_preview {
    
}

.preview_player {

}

