<head>
  <title>GoDeez</title>
  <link rel="stylesheet" href="css/main.css" />
  <!-- Icon Lib -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
<div class="container">
  <h1>Made for you!</h1>
  <div class="grid-container">
    {{ range .Tracks }}
    <div class="grid-item">
      <div class="preview-card" style="background-image: url({{ .Track.Album.CoverURL }});" id="audioPlayer-{{ .Track.ID }}">
        <div class="content">
          <div class="playctl">
            <audio id="myAudio-{{ .Track.ID }}">
              <source src="{{ .Track.PreviewURL }}" type="audio/mpeg">
            </audio>
            <div id="controls">
              <button class="ctrlBtn" class="playPauseButton" id="playPauseButton-{{ .Track.ID }}">
                <i class="bi bi-play-fill"></i>
              </button>
              <div class="playerInfo">
                <span class="trackTitleText">{{ .Track.Title }}</span>
                <span class="trackArtistText">{{ .Track.Artist.Name }}</span>
              </div>

              <div class="progressBar-container2">
                <div class="progressBar2" id="progressBar-{{ .Track.ID }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="like-container">
        <button class="likeButton" id="likeButton-{{ .Track.ID }}" onclick="likeTrack({{ .Track.ID }})">
          <i class="fa fa-heart"></i>
        </button>
        <span id="likeCount-{{ .Track.ID }}">{{ .LikeCount }}</span>
      </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", function() {
        var audios = document.querySelectorAll("[id^='myAudio']");
        var playPauseButtons = document.querySelectorAll("[id^='playPauseButton']");
        var progressBars = document.querySelectorAll("[id^='progressBar']");

        function handlePlayPauseButtonClick(index) {
          var audio = audios[index];
          var playPauseButton = playPauseButtons[index];

          if (audio.paused) {
            audio.play();
            playPauseButton.innerHTML = '<i class="bi bi-pause-fill"></i>'; // Change to pause icon
          } else {
            audio.pause();
            playPauseButton.innerHTML = '<i class="bi bi-play-fill"></i>'; // Change to play icon
          }
        }

        function handleTimeUpdate(index) {
          var audio = audios[index];
          var progressBar = progressBars[index];
          var progress = (audio.currentTime / audio.duration) * 100;
          progressBar.style.width = progress + "%";

          if (progress === 100) {
            progressBar.classList.remove("active");
          } else {
            progressBar.classList.add("active");
          }
        }

        for (var i = 0; i < playPauseButtons.length; i++) {
          (function(index) {
            playPauseButtons[index].addEventListener("click", function() {
              handlePlayPauseButtonClick(index);
            });

            audios[index].addEventListener("timeupdate", function() {
              handleTimeUpdate(index);
            });
          })(i);
        }
      });

      function likeTrack(trackID) {
        var likeCountElement = document.getElementById("likeCount-" + trackID);
        var likeCount = parseInt(likeCountElement.textContent);

        // Send a POST request to increment the like count
        fetch("/like", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            trackID: trackID
          })
        })
                .then(function(response) {
                  return response.json();
                })
                .then(function(data) {
                  if (data.success) {
                    // Increment the like count in the UI
                    likeCount++;
                    likeCountElement.textContent = likeCount;
                  } else {
                    console.log("Failed to increment like count");
                  }
                })
                .catch(function(error) {
                  console.log("Error:", error);
                });
      }
    </script>
    {{ end }}
  </div>
</div>
</body>