<head>
	  <title>GoDeez</title>
    <link rel="stylesheet" href="css/main.css" />    <!-- Icon Lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <h1>Made for you!</h1>
    <div class="grid-container">
      {{ range .Tracks }}
      <div class="grid-item">
        <div class="preview-card" style="background-image: url({{ .Album.CoverURL }});" id="audioPlayer">
          <div class="content">
            <div class="playctl">
              <audio id="myAudio">
                <source src="{{ .PreviewURL }}" type="audio/mpeg">
              </audio>
              <div id="controls">
                <button class="ctrlBtn" id="playPauseButton">
                  <i class="bi bi-play-fill"></i>
                </button>
                <div class="playerInfo">
                  <span class="trackTitleText">{{ .Title }}</span>
                  <span class="trackArtistText">{{ .Artist.Name }}</span>
                </div>
                <div class="progress-bar-container">
                  <div id="progressBar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <script src="js/audio.js"></script>
</body>